<template>
  <div class="bread-crumb choose-detail">
    <div :class="{'active': isActiveMoney, 'show-choose': !isHiddenMoney, 'choose-1-time col-md-3 col-3': true}">
      <div class="inactive-passed">
        <div class="circle-div"><span class="circle">1</span></div>
        <div :class="{'inline-div': isHiddenMoney,'Edit-caption':true}">
          <p class="Edit">  Tôi muốn vay</p>
          <div :class="{'caption-edit':true, 'hidden':isHiddenMoney}">
            <p class="caption">{{moneyPackage}}</p>
            <a class="edit" href="#">Sửa</a>
          </div>
        </div>
      </div>
    </div>
    <div class="choose-1-time col-md-1 col-1 light">
      <p class="line-light">──</p>
    </div>
    <div :class="{'active': isActiveTime, 'show-choose': !isHiddenTime, 'choose-1-time col-md-3 col-3': true}">
      <div class="inactive-passed">
        <div class="circle-div"><span class="circle">2</span></div>
        <div :class="{'inline-div': isHiddenTime,'Edit-caption':true}">
          <p class="Edit">Trong thời gian</p>
          <div :class="{'caption-edit':true, 'hidden': isHiddenTime}">
            <p class="caption">12 Tháng</p>
            <a class="edit" href="#">Sửa</a>
          </div>
        </div>
      </div>
    </div>
    <div class="choose-1-time col-md-1 col-1 light">
      <p class="line-light">──</p>
    </div>
    <div :class="{'active': isActiveSearch, 'choose-1-time col-md-4 col-4': true}">
      <div class="inactive-passed">
        <div class="circle-div"><span class="circle"><i class="fa fa-search"></i></span></div>
        <div class="inline-div Edit-caption">
          <p class="Edit"> Kết quả tìm kiếm</p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'BreadCrumb',
  props: ['active', 'moneyPackage', 'isActiveMoney', 'isActiveTime', 'isActiveSearch', 'isHiddenMoney', 'isHiddenTime', 'moneyPackage']
}
</script>
<style scoped>
.hidden{
  visibility:hidden;
}
.Edit-caption{
  float: left;
}
.inline-div{
  padding-top: 10px
}
.circle-div {
  margin-right: 5px;
  padding-top: 10px;
  float:  left;
}

.inactive-passed {
  display:  inline-block;
}
.line-light{
  color: rgba(0,0,0,0.54);  
}
p {
  margin-bottom: 0;
}
p.Edit{
  line-height: 20px;
  white-space: normal;
}
p.caption,a.edit {
  line-height: 16px;
  font-size: 12px;
  color:#009688;
}

.caption-edit {
  display: inline-flex;
}


.light{
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  line-height: 77px;
  padding: 0;
  margin: 0;
}
/* .choose-1-time{
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  position: relative;
  padding-top: 20px;
  margin-bottom: 5px;
}
.active {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  position: relative;
  padding-top: 20px;
  margin-bottom: 5px;
}


.active:before {
  border-bottom: 10px solid rgba(0, 0, 0, 0.12);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -1px;
  left: calc(50% - 9px);
}

.active:after {
  border-bottom: 8px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -1px;
  left: calc(50% - 7px);
} */
</style>


