<template>
  <div>
    <BreadCrumb 
      :moneyPackage="moneyPackage" 
      :isActiveMoney="isActiveMoney" 
      :isActiveTime="isActiveTime"
      :isActiveSearch="isActiveSearch"
      :isHiddenMoney="isHiddenMoney"
      :isHiddenTime="isHiddenTime"
      :active="active"
      ></BreadCrumb>
    <ChooseMoney v-show="active.money"></ChooseMoney>
    <ChooseTime v-show="active.time"></ChooseTime>
    <Search v-show="active.search"></Search>
  </div>
</template>
<script>
import BreadCrumb from '@/components/breadcrumb.vue'
import ChooseMoney from '@/components/body-iframe/choose_money_package'
import ChooseTime from '@/components/body-iframe/choose_time_package'
import Search from '@/components/body-iframe/search'
export default {
  name: 'contentIframe',
  data () {
    return {
      active: {
        money: true,
        time: false,
        search: false
      },
      isActiveMoney: true,
      isActiveTime: false,
      isActiveSearch: false,
      isHiddenMoney: true,
      isHiddenTime: true,
      moneyPackage: 0,
      timePackage: {}
    }
  },
  created () {
    this.$root.$on('moneyPackage', moneyPackage => {
      this.moneyPackage = moneyPackage
      this.isActiveTime = true
      this.active.money = false
      this.active.time  = true
      this.isHiddenMoney = false
    })
    this.$root.$on('timePackage', timePackage => {
      this.timePackage = timePackage
      this.isActiveSearch = true
      this.active.time = false
      this.active.search = true
      this.isHiddenTime = false
    })
  },
  components: {
    BreadCrumb,
    ChooseMoney,
    ChooseTime,
    Search
  }
}
</script> 