<template>
  <div id="footer">
    <div class="footer-container">
        Được cung cấp bởi <a href="http://instant.vn"><strong>instant.vn</strong></a>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Footer'
}
</script>
<style scoped>

</style>
