<template>
  <div id="loan_detail">
    <div class="btn-return">
      <button><i class="fa fa-angle-left" aria-hidden="true"></i><span>TRỞ LẠI</span></button>
    </div>
    <div id="sale-detail">
      <img :src="'/src/assets/avatar/' + loanItem.avatar" class="sale-avatar">
      <div class="key-sale">{{loanItem.sale_fullname}}, {{loanItem.bank_name}}, {{loanItem.location_name}}</div>
      <div class="foreign-sale">
        <span>{{loanItem.position}}</span>
        <span>{{loanItem.contact_total}} lần liên hệ</span>
      </div>
    </div>
    <div id="item-detail">
      <div class="title-item">{{loanItem.money_package | numberFormat}} VND ({{loanItem.money_package}} VNĐ) trong {{loanItem.time}} {{loanItem.time_unit | convertTimeUnit}} với lãi suất mỗi tháng từ {{loanItem.rate_min}}% đến {{loanItem.rate_max}}%</div>
      <div class="row interest-money">
        <div class="col-sm-4 col-4" >
          <span class="money_title">Trả hàng tháng</span>
          <span class="money_value">{{loanItem.interest_per_month_min | numberFormat}} - {{loanItem.interest_per_month_max | numberFormat}}</span>
        </div>
        <div class="col-sm-4 col-4">
          <span class="money_title">Tổng số tiền lãi cần trả</span>
          <span class="money_value">{{loanItem.interest_total_min | numberFormat}} - {{loanItem.interest_total_max | numberFormat}}</span>
        </div>
        <div class="col-sm-4 col-4">
          <span class="money_title">Tổng số tiền cẩn trả</span>
          <span class="money_value">{{loanItem.pay_total_min | numberFormat}} - {{loanItem.pay_total_max | numberFormat}}</span>
        </div>
      </div>
      <button class="btn send">GỬI YÊU CẦU VAY</button>
    </div>
  </div>
</template>
<script>
import axios from "axios";
let SERVER = process.env.SERVER;
export default {
  data() {
    return {
      loanItem: {}
    };
  },
  beforeCreate() {
    let id = this.$route.params.id;
    axios.get(`${SERVER}/loan-item/${id}`).then(res => {
      this.loanItem = res.data;
    });
  }
};
</script>
<style scoped>
.foreign-sale span {
  font-size: 12px;
  position: relative;
  color: rgba(0, 0, 0, 0.54);
  /* line-height: 10px; */
  padding: 0 5px;
}

.foreign-sale span:before {
  content: "";
  width: 1px;
  height: 1px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.54);
  display: inline-block;
  position: absolute;
  top: 46%;
  left: -3px;
}

.foreign-sale span:first-child:before {
  border: 0px;
  width: 0;
  height: 0;
}

#sale-detail {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  position: relative;
  padding-top: 16px;
}

#sale-detail img {
  margin-bottom: 5px;
}

.key-sale {
  color: rgba(0, 0, 0, 0.87); 
}
.footer-container {
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding-left: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

div#footer {
  height: 40px;
}

.footer-container a {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  text-decoration: underline;
}

.key-sale {
  color: rgba(0, 0, 0, 0.87);
}

div#item-detail {
  padding: 30px 30px 20px;
  text-align: center;
}

.title-item {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
}

.row.interest-money {
  margin-bottom: 30px;
}

span.money_title {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  line-height: 16px;
  display: block;
}

span.money_value {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  line-height: 20px;
}
.btn-return button {
  background: transparent;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  padding: 0;
  padding-left: 26px;
  padding-top: 0px;
}

.btn-return i {
  color: #009688;
  font-size: 27px;
  position: absolute;
  left: 0;
  top: -3px;
}

.btn-return span {
  color: #009688;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  display: inline-block;
  vertical-align: middle;
}

.btn-return i:after {
  content: "";
  background: #009688;
  width: 15px;
  height: 2px;
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 50%;
}

.btn-return {
  position: absolute;
  top: 14px;
  left: 8px;
  z-index: 99;
}
.btn-return button:focus {
  outline: none;
}
</style>
