body, div, p, input, span, textarea, h1, h2, h3, h4, h5, h6, a, button, input, i {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  color:#000;
  font-family: 'Roboto';
}
body{
  margin: 0;
}

.sale-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #ccc;
}
button.btn.send {
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.32);
  background: #009688;
  border-color: #009688;
  color:#fff;
  cursor: pointer;
  padding: 9px 15px;
}

button.btn.send:focus {
  box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.32);
}

.content-padding {
  padding: 17px;
}

button.btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #009688;
  text-align: center;
  background: #f3f3f3;
  border: 1px solid #f3f3f3;
  margin: 8px;
  padding: 0;
  border-radius: 4px;
  padding: 3px 15px;
  cursor: pointer;
}

button.btn:focus {
  outline: none;
  box-shadow: none;
}
.time-package h3 {
  color: rgba(0,0,0,0.87);
  line-height: 30px;
  margin: 0;
  font-weight: 500;
  text-transform: capitalize;
}

.time-package:not(:last-child) {
  margin-bottom: 20px;
}
.search-content-middle {
  text-align: center;
}

.search-content-middle h4 {
  font-size: 16px;
  line-height: 24px;
}
@-moz-keyframes spin {
  0% {
      left:0px;
      top:0px;
  }
  12% {
      left:-13px;
      top:-10px;
  }
  25% {
      left:-20px;
      top:-20px;
  }
  37% {
      left:-13px;
      top:-30px;
  }
  50% {
      left:0px;
      top:-40px;
  }
  62% {
      left:13px;
      top:-30px;
  }
  75% {
      left:20px;
      top:-20px;
  }
  87% {
      left:13px;
      top:-10px;
  }
  100% {
      left:0px;
      top:0px;
  }
}
@-webkit-keyframes spin {
  0% {
    left:0px;
    top:0px;
}
12% {
    left:-13px;
    top:-10px;
}
25% {
    left:-20px;
    top:-20px;
}
37% {
    left:-13px;
    top:-30px;
}
50% {
    left:0px;
    top:-40px;
}
62% {
    left:13px;
    top:-30px;
}
75% {
    left:20px;
    top:-20px;
}
87% {
    left:13px;
    top:-10px;
}
100% {
    left:0px;
    top:0px;
}
}
@keyframes spin {
  0% {
    left:0px;
    top:0px;
}
12% {
    left:-13px;
    top:-10px;
}
25% {
    left:-20px;
    top:-20px;
}
37% {
    left:-13px;
    top:-30px;
}
50% {
    left:0px;
    top:-40px;
}
62% {
    left:13px;
    top:-30px;
}
75% {
    left:20px;
    top:-20px;
}
87% {
    left:13px;
    top:-10px;
}
100% {
    left:0px;
    top:0px;
}
}

.search-result img {
  display: inline-block;
  webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  position: relative;
  line-height: 1;
  margin: 0;
}

.search-result {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
.search-content-middle {
  text-align: center;
  line-height: calc(100vh - 110px - 40px);
}
.search-result h4 {
  margin: 0;
}

.search-result span {
  display: block;
  color: rgba(0,0,0,0.54);
  line-height: 20px;
  margin-bottom: 20px;
}
.content-search table {
  width: 100%;
}

.content-search table tr td, .content-search table tr th {
  font-size: 12px;
  line-height: 16px;
  color: rgba(0,0,0,0.54);
  border-bottom: 1px solid rgba(0,0,0,0.12);
  padding: 5px 10px;
  font-weight: 500;
}

.content-search table tr th {
  padding-bottom: 7px;
  padding-top: 3px;
}

.content-search table tr td button {
  margin: 13px 0px;
  font-size: 14px;
  line-height: 16px;
  padding: 9px 13px;
}

.content-search table tr td.td-img {
  width: 61px;
  border-bottom: none;
}

.content-search table tr td.td-name {
  color: rgba(0,0,0,0.87);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.content-search table tr td.td-rate {
  font-size: 14px;
  line-height: 20px;
  color: rgba(0,0,0,0.87);
}

.content-search table tr td.td-bank {
  font-weight: normal;
}
.content-search table tr td button a {
  color: #009688;
}
.content-search table tbody tr:nth-child(1),
.content-search table tbody tr:nth-child(2),
.content-search table tbody tr:nth-child(3) {
  background: rgba(0,150,136,0.04);
}
.content-search table tbody tr:nth-child(1) td.td-rate,
.content-search table tbody tr:nth-child(2) td.td-rate,
.content-search table tbody tr:nth-child(3) td.td-rate {
  color: #009688;
}
.content-search table tbody tr:nth-child(1) td button,
.content-search table tbody tr:nth-child(2) td button,
.content-search table tbody tr:nth-child(3) td button {
  background: #009688;
  box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.32);
  border-color: #009688;
}
.content-search table tbody tr:nth-child(1) td button a,
.content-search table tbody tr:nth-child(2) td button a,
.content-search table tbody tr:nth-child(3) td button a {
  color: #fff;
}