/* content */
.choose-1-time{
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  position: relative;
  padding-left:  15px;
  padding-right: 0;
  padding-top: 20px;
}
.active {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  position: relative;
  padding-top: 20px;
}
.inactive-passed {
  text-align: left;
}

.active:before {
  border-bottom: 10px solid rgba(0, 0, 0, 0.12);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -1px;
  left: calc(50% - 9px);
}

.active:after {
  border-bottom: 8px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -1px;
  left: calc(50% - 7px);
}

.active.active.show-choose:before {
  border:none
}
.active.active.show-choose:after {
  border:none
}
/* style a breadcrumb */
a{
  font-size: 14px;
  text-decoration: none;
}
a.active{
  font-size: 14px;
  color:#009688;
  text-decoration: none;
}
.circle,
.circle i{
  color: white;
  width: 20px;
  height: 20px;
  background-color: #BDBDBD;
  border-radius: 100%;
  text-align: center;
  font-size: 12px;
  display: inline-block;
  line-height: 20px;
}


.active.show-choose span.circle,
.active.show-choose span.circle i{
  background-color: #BDBDBD;
}
.active.show-choose p.Edit {
  color: rgba(0,0,0,0.54);
  font-weight: normal;
}

.active span.circle,
.active span.circle i{
  background-color: #009688;
}

/* footer */

.footer-container {
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding-left: 20px;
  border-top: 1px solid rgba(0,0,0,0.12);
  font-size: 12px;
  color: rgba(0,0,0,0.54);
}
div#footer {
  height: 40px;
}
.footer-container a {
  color: rgba(0,0,0,0.54); 
  font-size: 12px;
  text-decoration: underline;
}
.active p.Edit {
  color:#009688;
  font-weight: 500;
}
.caption-edit > * {
  font-size: 12px;
  position: relative;
  padding: 0 5px;
}

.caption-edit p:after {
  content: "";
  width: 1px;
  height: 1px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.54);
  display: inline-block;
  position: absolute;
  top: 46%;
  right: 0px;
}
.bread-crumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
}
p {
  color: rgba(0,0,0,0.54);
}
.caption-edit .caption {
  padding-left: 0;
}