<template>
  <div>
    <div class="package package-money" v-if="name && name == 'money'">
      <button v-for="item in items" v-bind:key="item" class="btn" @click.stop.prevent="moneyClick(item)">
        {{item}}
      </button>
    </div>
    <div class="package package-time" v-if="name && name == 'time'">
      <div class="time-package" v-for="(value, key) in items[0]" v-bind:key="key" v-if="value.length > 0">
        <h3>{{key | convertTimeUnit}}</h3>
        <button class="btn" v-for="item in value" v-bind:key="item.time" @click.stop.prevent="timeClick(item.time, item.time_unit)">
          {{item.time}} {{item.time_unit | convertTimeUnit}}
        </button>
      </div>
    </div>
  </div>
</template>
<script>
// import axios from 'axios';
// const SERVER = process.env.SERVER
export default {
  name: 'Package',
  props: ['items', 'name'],
  methods: {
    moneyClick: function (moneyPackage) {
      this.$root.$emit('moneyPackage', moneyPackage)
    },
    timeClick: function (time, timeUnit) {
      this.$root.$emit('timePackage', {time, timeUnit})
    }
  }
}
</script>
