<template>
  <div id="app container">
    <router-view/>
    <Footer></Footer>
  </div>
</template>

<script>
import Footer from '@/components/footer.vue'
export default {
  name: 'app',
  components: {
    Footer
  }
}
</script>

<style>

</style>
