<template>
  <div class="content-padding">
    <Package :items="items" :name="'time'"></Package>
  </div>
</template>
<script>
import Package from '@/components/packages/package'
import axios from 'axios'
const SERVER = process.env.SERVER
export default {
  name: 'ChooseTime',
  data () {
    return {
      items: []
    }
  },
  beforeCreate () {
    let moneyPackage = 50000000
    axios.get(`${SERVER}/list-time-by-money-package/${moneyPackage}`)
      .then(res => {
        this.items = [res.data]
      })
  },
  components: {
    Package
  }
}
</script>