<template>
  <div class="content-padding">
    <Package :items="items" :name="'money'"></Package>
  </div>
</template>
<script>
import Package from '@/components/packages/package'
import axios from 'axios'
const SERVER = process.env.SERVER
export default {
  name: 'ChooseMoney',
  data () {
    return {
      items: []
    }
  },
  beforeCreate () {
    axios.get(`${SERVER}/list-money-packages`)
      .then(res => {
        this.items = res.data
      })
  },
  methods: {
    onClickChild: (text) => {
      console.log(text)
    }
  },
  components: {
    Package
  }
}
</script> 