<template>
  <div>
    <div class="content-padding search-content-middle" v-show="searchLoading">
      <div class="search-result">
        <img src="/src/assets/icon-search.png" width="60">
        <h4>Đang tìm kiếm ở khu vực TP Hồ Chí Minh <br> Xin chờ một chút...</h4>
      </div>
    </div>
    <div class="content-padding search-content-middle" v-show="!searchLoading && count == 0">
      <div class="search-result">
        <h4>Không có kết quả phù hợp ở TP Hồ Chí Minh</h4>
        <span>Bạn có thể thử thay đổi các điều kiện tìm kiếm ở trên</span>
        <button class="btn send">CHỌN LẠI TỪ ĐẦU</button>
      </div>
    </div>
    <div class="content-padding search-content-middle" v-show="!searchLoading && count > 0 && !misa">
      <div class="search-result">
        <h4>Có {{count}} kết quả phù hợp ở TP Hồ Chí Minh</h4>
        <span>Kết nối với MISA để xem kết quả tìm kiếm</span>
        <button class="btn send" @click.stop.prevent="connectMISA">KẾT NỐI VỚI MISA</button>
      </div>
    </div>
    <div class="content-search" v-show="!searchLoading && count > 0 && misa">
      <table>
        <thead>
          <tr>
            <th colspan="2">Có {{count}} kết quả phù hợp</th>
            <th>Lãi suất/tháng</th>
            <th>Tổng lãi cần trả</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in items" v-bind:key="item.id">
            <td class="td-img">
              <img :src="'/src/assets/avatar/' + item.sale_avatar" class="sale-avatar">
            </td>
            <td class="td-name">{{item.sale_fullname}}</td>
            <td class="td-bank">{{item.bank_name}}</td>
            <td class="td-rate">{{item.rate_min}}% - {{item.rate_max}}%</td>
            <td><button class="btn"><a :href="'/#/loan-detail/' + item.id">XEM</a></button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import Package from '@/components/packages/package'
import axios from 'axios'
const SERVER = process.env.SERVER
export default {
  name: 'ChooseMoney',
  data () {
    return {
      items: [],
      count: 0,
      searchLoading: true,
      misa: false
    }
  },
  created () {
    setTimeout(() => {
      let moneyPackage = 30000000
      let time = 4
      let timeUnit = 'nam'
      axios.get(`${SERVER}/search-loan-items/all/${moneyPackage}/${time}/${timeUnit}`)
        .then(res => {
          this.items = res.data.items
          this.count = res.data.count
          this.searchLoading = false
        })
    }, 5000)
  },
  methods: {
    connectMISA () {
      this.misa = !this.misa
    }
  },
  components: {
    Package
  }
}
</script>